<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
	  internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog.txt">
	<extensions>
		<add assembly="Nlog.Web.AspNetCore"/>
	</extensions> 
	<targets>
		<target name="request-time" xsi:type="File" fileName="C:\Users\Radwan\Desktop\RestaurantAPILogs\nlog-request-time-${shortdate}.log"
		        layout="${longdate}|${event-properties:item=Event_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}"/>

		<target name="exceptions" xsi:type="File" fileName="C:\Users\Radwan\Desktop\RestaurantAPILogs\nlog-all-exceptions-${shortdate}.log"
		        layout="${longdate}|${event-properties:item=Event_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}"/>

		<target name="allfile" xsi:type="File" fileName="C:\Users\Radwan\Desktop\RestaurantAPILogs\nlog-all-${shortdate}.log"
		        layout="${longdate}|${event-properties:item=Event_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}"/>
	</targets>

	<rules>
		<logger name="RestaurantAPI.Middleware.RequestTimeMiddleware" minlevel="Trace" writeTo="request-time" />

		<logger name="*" minlevel="Trace" writeTo="allfile" />

		<logger name="RestaurantAPI.*" minlevel="Error" writeTo="exceptions" />
	</rules>
</nlog>